@import '../../styles/global.scss';

.intro {
  position: absolute;
  top: 26%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  overflow: hidden;

  @media only screen and (min-width: $breakpoints-sm) {
    font-size: 7rem;
    top: 12%;
  }

  @media only screen and (min-width: $breakpoints-lg) {
    font-size: 10rem;
    top: 20%;
  }

  &__item {
    position: relative;
    left: 8%;
    z-index: $z-index;
    max-width: 710px;
    margin: $gap-xsmall 0;
    padding: $gap-xsmall;
    height: 50px;
    width: 80%;

    @media only screen and (min-width: $breakpoints-sm) {
      margin: $gap-regular 0;
      height: 100px;
    }

    @media only screen and (min-width: $breakpoints-lg) {
      height: 90px;
    }

    &:hover > .intro__item--main {
      @media only screen and (min-width: $breakpoints-lg) {
        transform: translateX(20%);
      }
    }

    &:nth-child(1) {
      &:hover > .intro__item--main {
        &::after {
          content: 'About';
        }
      }
    }

    &:nth-child(2) {
      &:hover > .intro__item--main {
        &::after {
          content: 'Work';
        }
      }
    }

    &:nth-child(3) {
      &:hover > .intro__item--main {
        &::after {
          content: 'Contact';
          padding-right: 209px;
        }
      }
    }

    &--main {
      display: inline-block;

      transition: $transition-intro;
      transform: translateX(0) translateY(0);
    }

    &--hide {
      opacity: 0;
      transform: translateY(-15%);
    }

    &:nth-child(1) {
      animation: $animation-fade-down;
      animation-delay: 0.2s;
      animation-fill-mode: backwards;

      a {
        color: $c-white;
      }

      .intro__item--main {
        &::after {
          color: $c-white;
          content: 'Hello.';
        }
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      animation: $animation-fade-down;
      animation-fill-mode: backwards;

      a {
        color: $c-blue;
      }
    }

    &:nth-child(2) {
      animation-delay: 0.4s;

      .intro__item--main {
        &::after {
          content: 'I am';
        }
      }
    }

    &:nth-child(3) {
      animation-delay: 0.6s;

      .intro__item--main {
        &::after {
          content: 'Aleksander';
        }
      }
    }

    &--secondary {
      position: absolute;
      top: 0;
      left: 10px;
      opacity: 0;
      display: inline-block;
      transition: $transition-intro;
      transform: translateY(15%);

      @media only screen and (min-width: $breakpoints-lg) {
        display: none;
      }
    }

    &--show {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .menu--show {
    z-index: $z-index-menu;
  }
}
