@import '../../styles/global.scss';

.background {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 650px;
  height: 85vh;
  filter: brightness(0.5);

  @media only screen and (min-width: $breakpoints-lg) {
    height: 100vh;
  }

  &__image {
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: top;
    animation: $animation-show-image;

    @media only screen and (min-width: $breakpoints-md) {
      object-position: left;
      filter: brightness(0.8);
    }

    @media only screen and (min-width: $breakpoints-lg) {
      width: 75%;
    }

    @media only screen and (min-width: $breakpoints-xl) {
      top: 8%;
      width: 70%;
    }

    @media only screen and (min-width: $breakpoints-xxl) {
      object-position: top;
    }
  }
}
